@import 'Setup.css';
@import 'Nav.css';

body{
    margin: 0;
    padding: 0;
    font-family: 'Monserrat', sans-serif;
}

.card{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.card img{
    width: 15%;
}

.card-ul li{
    list-style: none;
    display: flex;
    justify-content: center;
}

.card-section{
    height: 50vh;
    display: flex;
}


.div-producer{
    display: flex;
    flex-direction: row;
    position: relative;
}

.div-producer .producer-text{
    position: relative;
    padding: 5% 10%;

    
}

.brocoli{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
}

.text{
    font-size: 48px;
    font-weight: bold;
}

.text span{
    color: #258D00;
}

.all-text p{
    width: 80%;
}

.dis{
    width: 100%;
    position: relative;
}

.dis .img-dis{
    width: 100%;
}
.dis .img-dis-mobile{
    display: none;
}

.dis .dis-text{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translateY(50%);
    
}

h1 span{
    color: #258D00;
}

footer{
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer p{
    font-size: 16px;
}

@media only screen and (max-width: 428px){
    .card{
        font-size: 16px;
        display: inline-block;
        margin: 10%;
        text-align: center;
    }
    .card-ul{
        display: block;
    }
    .card-section{
        display: block;
        height: auto;
    }

    #tomatoes{
        height: 100%;
    }
    
    .div-producer{
        flex-direction: column;
    }
    .brocoli{
        position: static;

        width: 100%;
    }

    .text{
        font-size: 36px;
    }

    .dis .img-dis{
       display: none;
    }

    .dis .img-dis-mobile{
        display: block;
        width: 100%;
    }

    .dis .dis-text {
        position: absolute;
        top: 35%;
        left: 20%;
        transform: translateY(50%);
        font-size: 10px;
    }
}